USE [master]
GO
/****** Object:  Database [StudentLibraryDB]    Script Date: 5/14/2026 3:23:29 AM ******/
CREATE DATABASE [StudentLibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentLibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StudentLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentLibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StudentLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentLibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentLibraryDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[authorid] [int] IDENTITY(1,1) NOT NULL,
	[authorname] [varchar](100) NULL,
	[adress] [varchar](100) NULL,
	[telephone] [varchar](20) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[authorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[authorid] [int] NOT NULL,
	[bookid] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[authorid] ASC,
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[bookid] [int] IDENTITY(1,1) NOT NULL,
	[booktitle] [varchar](50) NULL,
	[categoryid] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowings]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowings](
	[borrowid] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NOT NULL,
	[bookid] [int] NOT NULL,
	[borrowdate] [date] NOT NULL,
	[returndate] [date] NULL,
 CONSTRAINT [PK_Borrowings] PRIMARY KEY CLUSTERED 
(
	[borrowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [varchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[studentid] [int] IDENTITY(1,1) NOT NULL,
	[studentname] [varchar](50) NULL,
	[adress] [varchar](200) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[studentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([authorid], [authorname], [adress], [telephone]) VALUES (1, N'abdulrahman hamza', N'21mahalla', N'01014348755')
INSERT [dbo].[Author] ([authorid], [authorname], [adress], [telephone]) VALUES (2, N'ahmed tawfik', N'16 cairo', N'01010101011')
INSERT [dbo].[Author] ([authorid], [authorname], [adress], [telephone]) VALUES (3, N'najib mahfouz', N'22 cairo', N'01211665565')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
INSERT [dbo].[BookAuthors] ([authorid], [bookid]) VALUES (1, 3)
INSERT [dbo].[BookAuthors] ([authorid], [bookid]) VALUES (2, 2)
INSERT [dbo].[BookAuthors] ([authorid], [bookid]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([bookid], [booktitle], [categoryid]) VALUES (1, N'book in history', 1)
INSERT [dbo].[Books] ([bookid], [booktitle], [categoryid]) VALUES (2, N'book in programming', 5)
INSERT [dbo].[Books] ([bookid], [booktitle], [categoryid]) VALUES (3, N'science book', 2)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrowings] ON 

INSERT [dbo].[Borrowings] ([borrowid], [studentid], [bookid], [borrowdate], [returndate]) VALUES (4, 1, 1, CAST(N'2026-04-10' AS Date), NULL)
INSERT [dbo].[Borrowings] ([borrowid], [studentid], [bookid], [borrowdate], [returndate]) VALUES (5, 2, 2, CAST(N'2026-03-12' AS Date), NULL)
INSERT [dbo].[Borrowings] ([borrowid], [studentid], [bookid], [borrowdate], [returndate]) VALUES (6, 3, 4, CAST(N'2026-02-16' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Borrowings] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([categoryid], [categoryname]) VALUES (1, N'history')
INSERT [dbo].[Categories] ([categoryid], [categoryname]) VALUES (2, N'science')
INSERT [dbo].[Categories] ([categoryid], [categoryname]) VALUES (3, N'mathematics')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([studentid], [studentname], [adress]) VALUES (1, N'ahmed', N'21.mahalla')
INSERT [dbo].[Students] ([studentid], [studentname], [adress]) VALUES (2, N'mohamed', N'22.mahalla')
INSERT [dbo].[Students] ([studentid], [studentname], [adress]) VALUES (3, N'abdelrahman', N'23.mahalla')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Author] FOREIGN KEY([authorid])
REFERENCES [dbo].[Author] ([authorid])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Author]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Books] FOREIGN KEY([bookid])
REFERENCES [dbo].[Books] ([bookid])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Books]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([categoryid])
REFERENCES [dbo].[Categories] ([categoryid])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD  CONSTRAINT [FK_Borrowings_Books] FOREIGN KEY([bookid])
REFERENCES [dbo].[Books] ([bookid])
GO
ALTER TABLE [dbo].[Borrowings] CHECK CONSTRAINT [FK_Borrowings_Books]
GO
ALTER TABLE [dbo].[Borrowings]  WITH CHECK ADD  CONSTRAINT [FK_Borrowings_Students] FOREIGN KEY([studentid])
REFERENCES [dbo].[Students] ([studentid])
GO
ALTER TABLE [dbo].[Borrowings] CHECK CONSTRAINT [FK_Borrowings_Students]
GO
/****** Object:  StoredProcedure [dbo].[Rep_1_OverdueBooks]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. تقرير الكتب التي تجاوزت مدة استعارتها (أكثر من أسبوعين)
CREATE PROCEDURE [dbo].[Rep_1_OverdueBooks] AS
BEGIN
    SELECT B.booktitle, S.studentname, SB.borrowdate
    FROM Borrowings SB JOIN Books B ON SB.bookid = B.bookid JOIN Students S ON SB.studentid = S.studentid
    WHERE DATEDIFF(day, SB.borrowdate, GETDATE()) > 14 AND SB.returndate IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_10_LateThreeWeeks]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. تقرير الطلاب الذين استعاروا كتباً قبل 3 أسابيع ولم يرجعوها
CREATE PROCEDURE [dbo].[Rep_10_LateThreeWeeks] AS
BEGIN
    SELECT S.studentname, S.adress
    FROM Students S JOIN Borrowings SB ON S.studentid = SB.studentid
    WHERE SB.borrowdate <= DATEADD(week, -3, GETDATE()) AND SB.returndate IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_2_CountPerStudent]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. عدد الكتب المستعارة لكل طالب
CREATE PROCEDURE [dbo].[Rep_2_CountPerStudent] AS
BEGIN
    SELECT S.studentname, COUNT(SB.bookid) AS TotalBorrowed
    FROM Students S LEFT JOIN Borrowings SB ON S.studentid = SB.studentid
    GROUP BY S.studentname;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_3_LastWeekNotReturned]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. طلاب استعاروا كتباً الأسبوع الماضي ولم يرجعوها
CREATE PROCEDURE [dbo].[Rep_3_LastWeekNotReturned] AS
BEGIN
    SELECT DISTINCT S.studentname
    FROM Students S JOIN Borrowings SB ON S.studentid = SB.studentid
    WHERE SB.borrowdate >= DATEADD(day, -7, GETDATE()) AND SB.returndate IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_4_BooksPerAuthor]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. عدد الكتب لكل مؤلف
CREATE PROCEDURE [dbo].[Rep_4_BooksPerAuthor] AS
BEGIN
    SELECT A.authorname, COUNT(BA.bookid) AS BooksCount
    FROM Author A LEFT JOIN BookAuthors BA ON A.authorid = BA.authorid
    GROUP BY A.authorname;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_5_BorrowedByCategory]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. عدد الكتب المستعارة لكل فئة كتاب
CREATE PROCEDURE [dbo].[Rep_5_BorrowedByCategory] AS
BEGIN
    SELECT C.categoryname, COUNT(SB.bookid) AS BorrowCount
    FROM Categories C JOIN Books B ON C.categoryid = B.categoryid JOIN Borrowings SB ON B.bookid = SB.bookid
    GROUP BY C.categoryname;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_6_FrequentBorrowers]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. اسم الطالب الذي استعار نفس الكتاب مرتين أو أكثر
CREATE PROCEDURE [dbo].[Rep_6_FrequentBorrowers] AS
BEGIN
    SELECT S.studentname, B.booktitle
    FROM Borrowings SB JOIN Students S ON SB.studentid = S.studentid JOIN Books B ON SB.bookid = B.bookid
    GROUP BY S.studentname, B.booktitle HAVING COUNT(*) >= 2;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_7_LastMonthCount]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. عدد الكتب التي استعيرت الشهر الماضي
CREATE PROCEDURE [dbo].[Rep_7_LastMonthCount] AS
BEGIN
    SELECT COUNT(*) AS TotalLastMonth
    FROM Borrowings
    WHERE borrowdate >= DATEADD(month, -1, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_8_BooksWithTwoAuthors]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. أسماء الكتب التي كتبها مؤلفان (2 Authors)
CREATE PROCEDURE [dbo].[Rep_8_BooksWithTwoAuthors] AS
BEGIN
    SELECT B.booktitle
    FROM Books B JOIN BookAuthors BA ON B.bookid = BA.bookid
    GROUP BY B.booktitle HAVING COUNT(BA.authorid) = 2;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_9_StudentsTwoCategories]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. طلاب استعاروا كتباً من فئتين مختلفتين على الأقل
CREATE PROCEDURE [dbo].[Rep_9_StudentsTwoCategories] AS
BEGIN
    SELECT S.studentname
    FROM Students S JOIN Borrowings SB ON S.studentid = SB.studentid JOIN Books B ON SB.bookid = B.bookid
    GROUP BY S.studentname HAVING COUNT(DISTINCT B.categoryid) >= 2;
END
GO
/****** Object:  StoredProcedure [dbo].[Rep_FrequentBorrowers]    Script Date: 5/14/2026 3:23:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Rep_FrequentBorrowers]
AS
BEGIN
    SELECT S.studentname, B.booktitle, COUNT(*) as BorrowCount
    FROM Borrowings SB
    JOIN Students S ON SB.studentid = S.studentid
    JOIN Books B ON SB.bookid = B.bookid
    GROUP BY S.studentname, B.booktitle
    HAVING COUNT(*) >= 2; -- شرط الاستعارة مرتين أو أكتر
END
GO
USE [master]
GO
